

.dashboard{display: flex; min-height: calc(100vh - 71px);}
.dashboard .leftAside{max-width: 250px; width: 13%; min-width: 215px; min-height: 100%;}
.dashboard .leftAside > div{min-height: 100%; padding: 40px 30px; background-color: #f8f8f8; box-sizing: border-box;}
.dashboard .leftAside > div p{text-align: center; font-size: 15px; font-weight: 400; margin-bottom: 30px;}
.dashboard .leftAside > div p strong{display: block; font-size: 22px; font-weight: 700; margin-top: 10px;}
.dashboard .leftAside > div > a{display: block; line-height: 40px; font-size: 14px; font-weight: 400; color: #999; text-align: center; background-color: white; border: 1px solid #f0f0f0; margin-bottom: 30px;}
.dashboard .leftAside > div dl{display: flex; justify-content: space-between; align-items: center;}
.dashboard .leftAside > div dl:not(:last-of-type){margin-bottom: 20px;}
.dashboard .leftAside > div dl:last-of-type{margin-bottom: 30px;}
.dashboard .leftAside > div dl dt{font-size: 14px; font-weight: 400; color: #999;}
.dashboard .leftAside > div dl dd{font-size: 15px; font-weight: 700;}
.dashboard .leftAside > div dl dd::after{content: 'ì›'; font-weight: 400;}
.dashboard .leftAside > div > ul{font-size: 15px; padding: 40px 0; border-top: 1px solid #dedede;}
.dashboard .leftAside > div > ul > li{}
.dashboard .leftAside > div > ul > li:not(:last-child){margin-bottom: 30px;}
.dashboard .leftAside > div > ul > li a{display: block;}
.dashboard .leftAside > div > ul > li > a{font-weight: 700;}
.dashboard .leftAside > div > ul > li ul{margin-top: 20px;}
.dashboard .leftAside > div > ul > li ul li{}
.dashboard .leftAside > div > ul > li ul li:not(:last-child){margin-bottom: 15px;}
.dashboard .leftAside > div > ul > li ul li a{}