/* 대시보드 */

/* 홈 */
.homePage h3{margin-bottom: 30px;}
.homePage > div > strong:first-child{display: block; font-size: 20px; font-weight: 700; margin-bottom: 20px;}
.homePage > div:has(.subText){position: relative;}
.homePage > div .subText{position: absolute; right: 0; top: 6px; font-size: 15px; color: #999;}
/* 홈 - 캐시 */
.homePage .cashArea{display: grid; grid-template-columns: repeat(2 , 1fr); grid-template-rows: 190px 130px; gap: 20px;}
/* 홈 공통 */
.homePage .cashArea > div{padding: 30px;}
.homePage .cashArea > div > strong:first-child{font-size: 20px; font-weight: 700;}
.homePage .cashArea > div:nth-child(1) strong::after,
.homePage .cashArea > div:nth-child(2) b::after{content: '원';}
.homePage .cashArea > div:nth-child(n + 2){border: 1px solid #dedede;}
/* 홈 - 캐시 - 충전된 캐시 */
.homePage .cashArea > div:nth-child(1){grid-column: 1 / 2; display: flex; justify-content: space-between; background-color: #2de09f; color: white; font-weight: 700;}
.homePage .cashArea > div:nth-child(1) p{font-size: 20px;}
.homePage .cashArea > div:nth-child(1) strong{font-size: 26px; align-self: flex-end;}
.homePage .cashArea > div:nth-child(1) strong::after{font-size: 16px;}
/* 홈 - 캐시 - 문자 */
.homePage .cashArea > div:nth-child(2){grid-column: 1 / 2; grid-row: 2 / 2; display: flex; justify-content: space-between; align-items: center;}
.homePage .cashArea > div:nth-child(2) strong small{display: block; font-size: 12px; font-weight: 400; color: #999; margin-top: 12px;}
.homePage .cashArea > div:nth-child(2) ul{display: flex;}
.homePage .cashArea > div:nth-child(2) ul li{font-size: 15px; text-align: center;}
.homePage .cashArea > div:nth-child(2) ul li:not(:last-child){margin-right: 55px;}
.homePage .cashArea > div:nth-child(2) ul li b{display: block; font-weight: 700; margin-top: 12px;}
/* 홈 - 캐시 - 사용가능 건수 */
.homePage .cashArea > div:nth-child(3){grid-column: 2 / 2; grid-row: 1 / 3;}
.homePage .cashArea > div:nth-child(3) > strong{display: block; margin-bottom: 30px;}
.homePage .cashArea > div:nth-child(3) ul{margin-bottom: 40px;}
.homePage .cashArea > div:nth-child(3) ul li{display: flex; justify-content: space-between; align-items: center;}
.homePage .cashArea > div:nth-child(3) ul li:not(:last-child){margin-bottom: 30px;}
.homePage .cashArea > div:nth-child(3) ul li p{display: flex; font-size: 15px;}
.homePage .cashArea > div:nth-child(3) ul li p b{font-weight: 700;}
.homePage .cashArea > div:nth-child(3) ul li strong{font-size: 26px; font-weight: 800;}
.homePage .cashArea > div:nth-child(3) ul li strong::after{content: '건'; font-size: 16px; font-weight: 400;}

/* 홈 - 사용내역 */
.homePage .historyArea ul li:not(:first-child) b:not(:nth-child(2)){text-align: center;}
.homePage .historyArea ul li > *:not(:nth-child(2)){text-align: center;}
.homePage .historyArea ul li > *{padding: 0 10px;}
.homePage .historyArea ul li > *:nth-child(1){width: 130px;}
.homePage .historyArea ul li > *:nth-child(2){width: 275px;}
.homePage .historyArea ul li > *:nth-child(3){width: 30px; margin-right: 10px;}
.homePage .historyArea ul li > *:is(:nth-child(4) , :nth-child(5) , :nth-child(6)){width: 100px;}
.homePage .historyArea ul li > *:nth-child(7){width: 52px;}
.homePage .historyArea > a{text-decoration: underline; text-underline-offset: 2px;}

/* 홈 - 통계 */
.homePage .statisticsArea ul{display: flex; gap: 20px;}
.homePage .statisticsArea ul > li{flex: 1; padding: 30px; border: 1px solid #dedede; text-align: center;}
.homePage .statisticsArea ul > li p{font-size: 15px; font-weight: 400; margin-bottom: 15px;}
.homePage .statisticsArea ul > li p b{font-weight: 700;}
.homePage .statisticsArea ul > li strong{display: block; font-size: 26px; font-weight: 800; margin-bottom: 45px;}
.homePage .statisticsArea ul > li strong::before ,
.homePage .statisticsArea ul > li strong::after{font-size: 16px; font-weight: 400;}
.homePage .statisticsArea ul > li strong::before{content: '총';}
.homePage .statisticsArea ul > li strong::after{content: '건';}
.homePage .statisticsArea ul > li ol{width: 185px; margin: 0 auto; display: flex;}
.homePage .statisticsArea ul > li ol li{flex: 1; display: flex; flex-direction: column;}
.homePage .statisticsArea ul > li ol li mark{font-size: 13px; margin-top: auto;}
.homePage .statisticsArea ul > li ol li[data-order="1"] mark{font-weight: 700;}
.homePage .statisticsArea ul > li ol li mark::after{content: ''; display: block; width: 16px; margin: 7px auto 0;}
.homePage .statisticsArea ul > li ol li:is([data-order="2"] , [data-order="3"]) mark::after{background-color: #d3ffef;}
.homePage .statisticsArea ul > li ol li[data-order="1"] mark::after{height: 108px; background-color: #2de09f;}
.homePage .statisticsArea ul > li ol li[data-order="2"] mark::after{height: 87px;}
.homePage .statisticsArea ul > li ol li[data-order="3"] mark::after{height: 47px;}
.homePage .statisticsArea ul > li ol li small{display: block; font-size: 14px; font-weight: 400; color: #999; padding-top: 12px; border-top: 1px solid #dedede;}


/* 마이페이지 , 문자보내기 공통 */
:is(.myPage , .messagePage) > div > div > strong{display: block; font-size: 20px; font-weight: 700;}


/* 마이페이지 */
/* 마이페이지 공통 */
.myPage > div > h2{text-align: center; margin-bottom: 50px;}
.myPage > div .width400{max-width: 400px; margin: 0 auto;}
.myPage > div > ul{display: flex; margin-bottom: 80px;}
.myPage > div > ul li{flex: 1;}
.myPage > div > ul li a{display: block; font-size: 15px; line-height: 45px; text-align: center; border: 1px solid #dedede;}
.myPage > div > ul li:is(:hover , .active) a{color: #2de09f; font-weight: 700; border-color: #2de09f;}
.myPage > div > div > small{display: block; font-size: 15px; font-weight: 400; color: #999; line-height: 20px; margin-top: 10px;}
.myPage > div > div > :is(strong:not(:has(+ small)) , small){margin-bottom: 40px;}
.myPage > div fieldset ul{margin-bottom: 40px;}
.myPage > div fieldset ul li > mark{display: none; font-size: 13px; color: #00a56b; margin-top: 15px;}
.myPage > div fieldset ul li > mark.active{display: block;}
.myPage > div fieldset .inputBox li div:has(select){flex-wrap: wrap;}
.myPage > div fieldset .inputBox li div:has(select) input:first-of-type{width: 205px;}
.myPage > div fieldset .inputBox li div:has(select) input:nth-of-type(2){width: 160px;}
.myPage > div fieldset .inputBox li div select{width: 100%;}
.myPage > div fieldset .inputBox li div input[type="checkbox"] +label:not(:last-of-type){margin-right: 50px;}
.myPage > div fieldset :is(input[type="submit"] , input[type="reset"]){width: 100%;}


/* 마이페이지 - 기업 , 회원탈퇴 공통 */
:is(.enterPage , .secessionPage) > div > div{background-color: #f8f8f8;}
/* 마이페이지 - 기업 */
/* 마이페이지 - 기업 공통 */
.myPage .enterPage > div > div:not(.infoArea){padding: 50px; text-align: center;}
.myPage .enterPage > div > div:not(.infoArea) strong{display: block; font-size: 22px; font-weight: 700;}
.myPage .enterPage > div > div:not(.infoArea) img{width: 160px; margin-bottom: 30px;}
/* 마이페이지 - 기업 - 전환 */
.myPage .enterPage .transformArea strong{line-height: 30px; margin-bottom: 30px;}
.myPage .enterPage .transformArea button{width: 230px; margin: 0 auto;}
/* 마이페이지 - 기업 - 심사 중 */
.myPage .enterPage .reviewArea strong{margin-bottom: 20px;}
.myPage .enterPage .reviewArea p{font-size: 15px; font-weight: 400;}
.myPage .enterPage .reviewArea p:first-of-type{line-height: 20px; margin-bottom: 30px;}
.myPage .enterPage .reviewArea p:nth-of-type(2){margin-bottom: 10px;}
.myPage .enterPage .reviewArea a{font-size: 18px; font-weight: 700;}
/* 마이페이지 - 기업 - 정보 */
.myPage .enterPage .infoArea{padding: 40px;}
.myPage .enterPage .infoArea dl{display: flex; justify-content: center; align-items: center; font-size: 15px; line-height: 18px;}
.myPage .enterPage .infoArea dl:not(:last-child){margin-bottom: 30px;}
.myPage .enterPage .infoArea dl::before{content: ''; width: 5px; height: 5px; background-color: #2de09f; border-radius: 1px; margin-right: 10px;}
.myPage .enterPage .infoArea dl dt{width: 240px; font-weight: 700;}
.myPage .enterPage .infoArea dl dd{width: 130px;}

/* 마이페이지 - 탈퇴 - 정보 */
.myPage > .secessionPage .infoArea{padding: 40px 0; text-align: center;}
.myPage > .secessionPage .infoArea ul{display: flex;}
.myPage > .secessionPage .infoArea ul li{flex: 1;}
.myPage > .secessionPage .infoArea ul li:not(:last-child){border-right: 1px solid #dedede;}
.myPage > .secessionPage .infoArea ul li img{width: 130px; margin-bottom: 30px;}
.myPage > .secessionPage .infoArea ul li strong{display: block; font-size: 15px; font-weight: 700; line-height: 20px; margin-bottom: 15px;}
.myPage > .secessionPage .infoArea ul li p{font-size: 14px; font-weight: 400; color: #999; line-height: 18px;}
.myPage > .secessionPage .infoArea + button{width: 285px; margin: 60px auto 0;}

/* 마이페이지 - 탈퇴 - 입력 */
.myPage > .secessionPage fieldset .inputBox li:has(small) > label:first-child{margin-bottom: 7px;}
.myPage > .secessionPage fieldset .inputBox li small{display: block; font-size: 14px; color: #999; margin-bottom: 15px;}
.myPage > .secessionPage fieldset .inputBox li input[type="radio"] + label{display: flex; font-size: 15px; margin-bottom: 15px;}
.myPage > .secessionPage fieldset .inputBox li textarea{width: 100%; height: 92px;}
.myPage > .secessionPage fieldset .inputBox li .termsBox{font-size: 14px; line-height: 19px;}
.myPage > .secessionPage fieldset input[type="submit"]{width: 100%;}

/* 문자 보내기 */
.messagePage > .basicPage h2{margin-bottom: 60px;}
/* 문자 보내기 - 입력 */
.messagePage > .basicPage .inputArea{padding-right: 410px;}
.messagePage > .basicPage .inputArea hr{border-bottom: none; border-top: 1px solid #dedede; margin: 38.5px 0 39.5px;}
.messagePage > .basicPage .inputArea .inputBox li:has(.checkBox){position: relative;}
.messagePage > .basicPage .inputArea .inputBox li .checkBox{position: absolute; right: 0; top: 30px;}
.messagePage > .basicPage .inputArea .inputBox li .buttonBox .count::before{content: '총 ';}
.messagePage > .basicPage .inputArea .inputBox li .buttonBox .count::after{content: '건';}
/* 문자 보내기 - 전송 예상 결과 */
.messagePage > .basicPage .sendResult strong{margin-bottom: 19.5px;}
.messagePage > .basicPage .sendResult .boardBox li{padding-left: 40px; text-align: center;}
.messagePage > .basicPage .sendResult .boardBox li *:not(:last-child){margin-right: 95px;}
.messagePage > .basicPage .sendResult .boardBox li *:nth-child(1){width: 70px;}
.messagePage > .basicPage .sendResult .boardBox li *:nth-child(2){width: 110px;}
.messagePage > .basicPage .sendResult .boardBox li *:nth-child(3){width: 43px;}
.messagePage > .basicPage .sendResult .boardBox li *:nth-child(4){width: 56px;}
.messagePage > .basicPage .sendResult .boardBox li *:nth-child(5){width: 56px;}
.messagePage > .basicPage .sendResult .boardBox li *:nth-child(6){width: 56px;}
/* 문자 보내기 - 유의사항 */
.messagePage > .basicPage div .noteBox{font-size: 14px; line-height: 22px; color: #999; margin-top: 15px;}
.messagePage > .basicPage div .noteBox b{font-weight: 700;}
.messagePage > .basicPage div .noteBox ul li::before{content: '- ';}
.messagePage > .basicPage div .noteBox ul li:has(mark)::before{color: #00a56b;}
/* 문자 보내기 - 금액 */
.messagePage > .basicPage .sendAmount .amountArea{display: flex; padding: 35px 40px; border: 1px solid #dedede;}
.messagePage > .basicPage .sendAmount .amountArea div{width: 280px; display: flex; flex-direction: column; align-items: flex-end; padding: 5px 49.5px 5px 0; border-right: 1px solid #dedede; margin-right: 49.5px;}
.messagePage > .basicPage .sendAmount .amountArea div b{font-size: 20px; font-weight: 700; align-self: flex-start;}
.messagePage > .basicPage .sendAmount .amountArea div strong{font-size: 22px; font-weight: 700; margin-top: auto; margin-bottom: 10px;}
.messagePage > .basicPage .sendAmount .amountArea div small{font-size: 14px; color: #999;}
.messagePage > .basicPage .sendAmount .amountArea ul{flex: 1; display: flex; flex-direction: column; justify-content: center; padding: 16px 0 5px;}
.messagePage > .basicPage .sendAmount .amountArea ul li{display: flex; align-items: center;}
.messagePage > .basicPage .sendAmount .amountArea ul li:not(:last-child){margin-bottom: 30px;}
.messagePage > .basicPage .sendAmount .amountArea ul li p{width: 128px; font-size: 15px; font-weight: 400;}
.messagePage > .basicPage .sendAmount .amountArea ul li b{font-size: 18px; font-weight: 700;}
.messagePage > .basicPage .sendAmount .amountArea ul li button{font-size: 14px; color: white; font-weight: 700; padding: 7px 10px; background-color: #2de09f; border-radius: 6px; margin-left: 10px;}
.messagePage > .basicPage .sendAmount .amountArea ul li input.inputCase{width: 150px; text-align: right;}
.messagePage > .basicPage .sendAmount .amountArea ul li *:last-child{font-size: 15px; margin-left: auto;}

/* 문자 보내기 - 완료 */
.messagePage .finPage{padding: 140px 0 75px; text-align: center;}
.messagePage .finPage img{max-width: 150px; margin-bottom: 40px;}
.messagePage .finPage strong{display: block; font-size: 36px; font-weight: 700; margin-bottom: 30px;}
.messagePage .finPage p{font-size: 15px; font-weight: 400; margin-bottom: 60px;}
.messagePage .finPage .btn-color{display: inline-flex; padding: 0 60px;}


/* 충전하기 */
.chargePage .basicPage > .subTextBox{margin: 15px 0 60px;}
.chargePage .basicPage fieldset{border-top: 1px solid #111;}
.chargePage .basicPage fieldset > div{border-bottom: 1px solid #dedede; padding-right: 50px; padding-left: 40px;}
.chargePage .basicPage fieldset > div b{font-size: 20px; font-weight: 700;}
.chargePage .basicPage fieldset .methodArea{display: flex; align-items: center; min-height: 103px;}
.chargePage .basicPage fieldset .methodArea b{margin-right: 60px;}
.chargePage .basicPage fieldset .methodArea label:not(:last-child){margin-right: 40px;}
.chargePage .basicPage fieldset .amountArea{display: flex; min-height: 152px; padding-top: 34.5px; padding-bottom: 34.5px;}
.chargePage .basicPage fieldset .amountArea > div{flex: 1; display: flex; flex-direction: column; align-items: flex-end; padding: 5px 49.5px 5px 0; margin-right: 49.5px; border-right: 1px solid #dedede;}
.chargePage .basicPage fieldset .amountArea > div b{align-self: flex-start;}
.chargePage .basicPage fieldset .amountArea > div strong{font-size: 22px; font-weight: 700; margin-top: auto; margin-bottom: 30px;}
.chargePage .basicPage fieldset .amountArea > div .buttonBox button:not([class]){padding: 0 23px;}
.chargePage .basicPage fieldset .amountArea > div .buttonBox button.imgBox{width: 40px; background-image: url('../images/icon-reset.png'); background-size: 24px;}
.chargePage .basicPage fieldset .amountArea ul{width: 220px; padding: 5px 0;}
.chargePage .basicPage fieldset .amountArea ul::before{content: attr(title); display: block; font-weight: 700; margin-bottom: 31px;}
.chargePage .basicPage fieldset .amountArea ul li{display: flex; justify-content: space-between; align-items: center; font-weight: 400;}
.chargePage .basicPage fieldset .amountArea ul li span{font-size: 14px; color: #999;}
.chargePage .basicPage fieldset .amountArea ul li:not(:last-child){margin-bottom: 22px;}
.chargePage .basicPage fieldset .totalArea{min-height: 132px; display: flex; justify-content: flex-end; align-items: center; background-color: #f8f8f8;}
.chargePage .basicPage fieldset .totalArea b{margin-right: auto;}
.chargePage .basicPage fieldset .totalArea div{text-align: right;}
.chargePage .basicPage fieldset .totalArea div:not(:last-child){margin-right: 60px;}
.chargePage .basicPage fieldset .totalArea div *:first-child{display: block; font-weight: 700; line-height: 29px;}
.chargePage .basicPage fieldset .totalArea div mark{font-size: 24px;}
.chargePage .basicPage fieldset .totalArea div small{display: block; font-size: 14px; margin-top: 7px;}
.chargePage .basicPage fieldset .totalArea div:first-of-type small{color: #999;}
.chargePage .basicPage fieldset .subTextBox{display: block; margin-top: 20px;}
.chargePage .basicPage fieldset input[type="submit"]{width: 194px; margin-top: 60px;}




