/* 포인트 색상 */
mark:not([class]){color: #2de09f;}

/* 제목 공통 */
.title01{font-size: 40px; font-weight: 700; line-height: 50px;}
.title02{font-size: 36px; font-weight: 700; line-height: 43px;}

/* 접근성 */
.textHidden{position: absolute; top: 0; height: 0.1px; overflow: hidden;}

/* 이미지 박스 */
.imgBox{text-indent: -9999px; background-repeat: no-repeat; background-position: center; background-size: cover;}

/* 버튼 케이스 */
[class*='btn']{font-weight: 700; display: flex; justify-content: center; align-items: center; border-radius: 6px;}
[class|='btn']{font-size: 20px; height: 60px;}
[class|='btn2']{font-size: 16px; height: 50px;}
[class*='btn'][class$="color"]{background-color: #2de09f; color: white; border: none;}
[class*='btn'][class$="border"]{color: #2de09f; border: 1px solid #2de09f; background-color: transparent;}
[class*='btn'][class$="color"] + [class*='btn'][class$="border"]{margin-top: 20px;}

/* 체크박스 , 라디오 박스 */
input[type="checkbox"] , input[type="radio"]{display: none;}
:is(input[type="checkbox"] , input[type="radio"]) + label{display: inline-flex; align-items: center;}
:is(input[type="checkbox"] , input[type="radio"]) + label::before{content: ''; width: 20px; height: 20px; margin-right: 10px; background-repeat: no-repeat; background-position: center; background-size: cover;}
input[type="checkbox"]:checked + label::before{background-image: url('../images/icon-check-chekced.png');}
input[type="radio"] + label::before{background-image: url('../images/icon-radio.png');}
input[type="radio"]:checked + label::before{background-image: url('../images/icon-radio-chekced.png');}

/* Byte */
.byte mark::before{content: '/ ';}
.byte mark::after{content: 'Byte';}


/* form */
[class*="width"]{margin: 0 auto;}
.width680{width: 680px;}
.width400{width: 400px;}
.linkBox{display: flex; justify-content: center; align-items: center; margin-bottom: 80px;}
.linkBox li:not(:last-child){margin-right: 60px;}
.linkBox li a{font-size: 18px;}
.linkBox li:is(.active , :hover) a{font-weight: 700; text-decoration-line: underline; text-underline-offset: 4px; text-decoration-thickness: 2px;}
fieldset{font-size: 15px;}
fieldset > p{display: flex; align-items: center; font-size: 15px; font-weight: 400; margin-bottom: 30px;}
fieldset > p b{width: 70px; font-weight: 700;}
fieldset ul li :is(div :is(input , textarea , select) , .termsBox){box-sizing: border-box; background-color: #f8f8f8; border: 1px solid #f0f0f0; border-radius: 6px;}
fieldset ul li :is(div textarea , .termsBox){padding: 20px; align-items: flex-start;}
fieldset ul li div textarea{height: 300px;}
fieldset .inputBox{display: flex; flex-wrap: wrap; justify-content: space-between;}
fieldset .inputBox li:not(.half){width: 100%;}
fieldset .inputBox li.half{width: 47.79%;}
fieldset .inputBox li > label:first-of-type{display: flex; font-weight: 700;}
fieldset .inputBox li:not(.row) > label:first-of-type{margin-bottom: 15px;}
fieldset .inputBox li:not(:first-child , .half:first-child , .half:first-child + .half , .row) > label:first-of-type{margin-top: 30px;}
fieldset .inputBox li div{display: flex;}
fieldset .inputBox li div:not(:is(.buttonBox , .checkBox)){gap: 10px;}
fieldset .inputBox li div :is(input , select){height: 50px; padding: 0 20px;}
fieldset .inputBox li div :is(input , textarea)::placeholder{color: #999;}
fieldset .inputBox li div :is(input , textarea){flex: 1;}
fieldset .inputBox li div:has(input) ~ div:not(.checkBox){margin-top: 10px;}
fieldset .inputBox li div:not(:is( textarea , .termsBox)){align-items: center;}
fieldset .inputBox li div:has(button , mark , time):has(input[type="text"]){position: relative;}
fieldset .inputBox li div:has(button , mark , time) input + :is(button , mark , time){position: absolute; top: 50%; transform: translateY(-50%);}
fieldset .inputBox li div:has(button) input + button{right: 5px;}
/* fieldset .inputBox li div:has(button) button{font-size: 14px; font-weight: 400; color: #999; height: 40px; padding: 0 15px; background-color: white; border: 1px solid #dedede; border-radius: 6px;} */
fieldset button{font-size: 14px; font-weight: 400; color: #999; height: 40px; padding: 0 15px; background-color: white; border: 1px solid #dedede; border-radius: 6px;}
fieldset .buttonBox{gap: 10px 7px;}
fieldset .buttonBox span{margin-left: auto;}
fieldset .inputBox li div:has(mark , time) :is(mark.error , time){color: #eb2f2f;}
fieldset .inputBox li div:has(mark) mark.error{right: 15px; font-size: 12px;}
fieldset .inputBox li div:has(time) time{right: 20px; font-size: 14px;}
fieldset .inputBox li.row{display: flex; align-items: center;}
fieldset .inputBox li.row:not(:first-child){margin-top: 30px;}
fieldset .inputBox li.row div{flex: 1;}
fieldset .inputBox li.row:not(:has(input[type="radio"])) label:first-of-type{margin-right: 30px;}
fieldset .inputBox li.row:has(input[type="radio"]) label:first-of-type{margin-right: 40px;}
fieldset .inputBox li.row:has(input[type="radio"]) label:not(:is(:first-of-type , :last-of-type)){margin-right: 30px;}
fieldset input[type="submit"]{margin: 0 auto;}
fieldset:not(:has(.inputBox)) .buttonBox{display: flex;}

:is(.inputCase , .historyPage .seachBox input){height: 50px; padding: 0 20px; box-sizing: border-box; background-color: #f8f8f8; border: 1px solid #f0f0f0; border-radius: 6px;}


/* 해더 공통 */
:not(.mainPage) header{position: sticky; }
header{top: 0; left: 0; display: flex; justify-content: center; align-items: center; background-color: white; border-bottom: 1px solid #dedede; z-index: 100;}
header :is(h1 , div){position: absolute; top: 0; height: 100%; display: flex; align-items: center;}
header h1{left: 30px;}
header h1 a{width: 96px; height: 20px; background-image: url('../images/logo-color.png');}
header nav ul{display: flex;}
header nav ul li a{font-size: 16px; font-weight: 700; line-height: 70px;}
header nav ul li:not(:last-child){margin-right: 80px;}
header nav ul li:is(.active ,:hover){position: relative;}
header nav ul li:is(.active ,:hover)::before{content: ''; position: absolute; left: 0; top: 13px; width: 100%; height: 3px; background-color: #2de09f;}
header div{right: 30px;}
header div a{font-size: 13px; font-weight: 700; color: #999;}
header div a:not(:last-child){margin-right: 40px;}
/* 해더 - 메인페이지 */
.mainPage header{position: fixed; width: 100%;}
header.active{border-bottom: none; background-color: transparent;}
header.active h1 a{background-image: url('../images/logo.png');}
header.active :is(ul li a , div a){color: white;}
header.active nav ul li:is(.active ,:hover)::before{background-color: white;}

/* 푸터 */
[class$='Page']:not(.servicePage , .dashboardPage) footer,
[class$='Page']:not(.servicePage , .dashboardPage) + footer{margin-top: 160px;}
:not(.rightAside) > footer{padding: 39.5px 0 75px; border-top: 1px solid #dedede;}
:not(.rightAside) > footer > div{position: relative;}
footer ul{display: flex;}
footer ul li:not(:last-child){margin-right: 30px;}
footer ul li a{font-size: 14px; font-weight: 700;}
footer ul li:first-child a{color: #666;}
:not(.rightAside) > footer > div ul{margin-bottom: 40px;}
:not(.rightAside) > footer > div h2{max-width: 96px; margin-bottom: 20px;}
:not(.rightAside) > footer > div h2 img{width: 100%;}
:not(.rightAside) > footer > div address{display: flex; flex-wrap: wrap; max-width: 495px; gap: 12px 20px;}
:not(.rightAside) > footer > div address p{font-size: 13px; font-weight: 500; color: #666;}
:not(.rightAside) > footer > div div{position: absolute; right: 0; bottom: 0;}
:not(.rightAside) > footer > div div p{font-size: 13px; font-weight: 500; margin-bottom: 15px;}
:not(.rightAside) > footer > div div a{width: 172px; line-height: 40px; font-size: 13px; font-weight: 800; color: white; text-align: center; background-color: #2de09f; border-radius: 6px;}
