/* 공통 */
/* 컨텐츠 크기 */
.contentSize{max-width: 1180px; margin: 0 auto; width: calc(100% - 60px); min-width: 964px;}

/* 버튼 케이스 */
[class|='btn']{font-size: 20px; height: 60px;}

/* form */
fieldset legend{font-size: 18px; font-weight: 700; margin-bottom: 40px;}
fieldset legend::before{content: ''; display: block; width: 35px; height: 3px; background-color: #2de09f; margin-bottom: 15px;}
fieldset ul{margin-bottom: 60px;}
fieldset .inputBox li div *:first-child ~ :is(input , select){width: 200px;}

/* 게시판 */
[class *="boardBox"]{border-top: 1px solid #111;}
[class *="boardBox"] li{border-bottom: 1px solid #dedede;}
[class *="boardBox"] li a{display: flex; align-items: center; font-size: 15px;}
[class *="boardBox"] li a time{margin-left: auto;}
[class *="boardBox"] li a p{font-weight: 700;}
[class *="boardBox"] li a + div{display: none; border-top: 1px solid #dedede;}
/* 게시판 - 드랍박스 */
.boardBox-drop li a::after{content: ''; width: 40px; height: 40px; background: url('../images/icon-open.png') no-repeat center / cover; transition: rotate 0.5s;}
.boardBox-drop li a:not(:has(time))::after{margin-left: auto;}
.boardBox-drop li a.active::after{rotate: 180deg;}